<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="./lib/angular-messages.min.js"></script>
	<script src="./module.js"></script>
</head>
<body ng-app="myApp">
	<h1>Waitstaff Calculator</h1>
	<section ng-controller="myCtrl as vm">
		<div class="boxes" id="mealDetails">
			<h2>Enter the Meal Details</h2><hr>
			<form name="vm.myForm" ng-submit="vm.formSubmit()" novalidate>
				<h4>Base Meal Price: $<input type="number" name="mealPrice" ng-model="vm.mealPrice" required/></h4><br>
				<h4>Tax Rate: %<input type="number" name="taxRate" ng-model="vm.taxRate"  required/></h4><br>
				<h4>Tip Percentage: %<input type="number" name="tipPercent" ng-model="vm.tipPercent" required/></h4><br>
				<p ng-model=vm.errorExplanation ng-show="vm.redBox" style="color: red;">* Red boxes are required.</p>
				<span><button type="submit" id="submitBtn">Submit</button><button id="cancelBtn" ng-click="vm.cancelMeal()">Cancel</button></span>		
			</form>
		</div>
		<div class="boxes" id="customerCharges">
			<h2>Customer Charges</h2><hr>
			<h4>Subtotal: ${{ vm.custSubtotal }}</h4>
			<h4>+ Tip: ${{ vm.custTip }}</h4><hr width="200px" style="margin-left: 200px;">
			<h4>Total: ${{ vm.custTotal }}</h4>
		</div>
		<div class="boxes" id="myEarnings">
			<h2>My Earnings Info</h2><hr>
			<h4>Tip Total: ${{ vm.tipTotal }}</h4>
			<h4>Meal Count: {{ vm.mealCount }}</h4>
			<h4>Average Tip Per Meal: ${{ vm.avgTip }}</h4>
		</div>
		<div class="boxes" id="reset"><button id="resetBtn">Reset</button></div>
	</section>
</body>
</html>