<section>
	<div class="boxes" id="mealDetails">
		<h2>Enter the Meal Details</h2><hr>
		<form name="vm.myForm" ng-submit="vm.formSubmit()" novalidate>
			<h4>Base Meal Price: $<input type="number" name="mealPrice" ng-model="vm.mealPrice" required/></h4><br>
			<h4>Tax Rate: %<input type="number" name="taxRate" ng-model="vm.taxRate"  required/></h4><br>
			<h4>Tip Percentage: %<input type="number" name="tipPercent" ng-model="vm.tipPercent" required/></h4><br>
			<p ng-show="vm.redBox" style="color: red;">* Red boxes are required.</p>
			<span><button type="submit" id="submitBtn">Submit</button><button type="reset" id="vm.cancelBtn" ng-click="vm.cancelMeal()">Cancel</button></span>		
		</form>
	</div>
	<div class="boxes" id="customerCharges">
		<h2>Customer Charges</h2><hr>
		<h4>Subtotal: ${{ vm.custSubtotal | number:2 }}</h4>
		<h4>+ Tip: ${{ vm.custTip | number:2 }}</h4><hr width="200px" style="margin-left: 200px;">
		<h4>Total: ${{ vm.custTotal | number:2 }}</h4>
	</div>
</section>