<div class="boxes" id="mealDetails">
	<h2>Enter the Meal Details</h2><hr>
	<form name="myForm" ng-submit="formSubmit()" novalidate>
		<h4>Base Meal Price: $<input type="number" name="mealPrice" ng-model="mealPrice" required/></h4><br>
		<h4>Tax Rate: %<input type="number" name="taxRate" ng-model="taxRate"  required/></h4><br>
		<h4>Tip Percentage: %<input type="number" name="tipPercent" ng-model="tipPercent" required/></h4><br>
		<p ng-show="myForm.$submitted && !myForm.$valid" class="errorMsg">* Red boxes are required.</p>
		<span><button type="submit" id="submitBtn">Submit</button><button type="reset" id="cancelBtn" ng-click="cancelMeal()">Cancel</button></span>		
	</form>
</div>
<div class="boxes" id="customerCharges">
	<h2>Customer Charges</h2><hr>
	<h4>Subtotal: ${{ custSubtotal | number:2 }}</h4>
	<h4>+ Tip: ${{ custTip | number:2 }}</h4><hr width="200px" style="margin-left: 200px;">
	<h4>Total: ${{ custTotal | number:2 }}</h4>
</div>