html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	text-align: center;
}

div {
	border: 1px solid black;
}

h1 {
	margin-top: 40px;
	margin-bottom: 20px;
}

button {
	margin: 10px 10px;
	width: 70px;
	height: 20px;
	border: 1px solid black;
}

#mealDetails {
	height: 500px;
	width: 500px;
}

#customerCharges {
	margin-top: 10px;
	height: 240px;
	width: 500px;
}

#myEarnings {
	height: 240px;
	width: 500px;
	margin-top: 20px;
}

#homeDiv {
	width: 700px;
	border: none;
}

#reset {
	width: 100%;
	text-align: right;
	margin-top: 20px;
	border: none;
}

#resetBtn {
	margin-right: 50px;
}

form.ng-submitted .ng-invalid {
	border: 1px solid red;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('./loading-animation.gif');
}
.animateViewContainer {
	position:relative; 
	min-height: 100%;
}

.animateView.ng-enter,
.animateView.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animateView.ng-enter { opacity:0; }
.animateView.ng-enter.ng-enter-active { opacity:1; }
.animateView.ng-leave { opacity:1; }
.animateView.ng-leave.ng-leave-active { opacity:0; }